*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.title{
    margin-top: 40px;
    text-align: center;
}

.btn{
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 15px 45px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
}